In [1]:
library(forecast)

ma.ts <- ts(c(20,10,30,35,10,60,50,40,90,65,55,120), frequency = 1)

ma.ts

ma(ma.ts, order = 3)

ma(ma.ts, order = 4, centre = FALSE)

ma(ma.ts, order = 4, centre = TRUE)

#SMA(ma.ts, n = 3) 평활법때 배운 이동평균

Warning message:
"package 'forecast' was built under R version 3.6.3"
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

A Time Series:
 [1]  20  10  30  35  10  60  50  40  90  65  55 120

A Time Series:
 [1] NA 20 25 25 35 40 50 60 65 70 80 NA

A Time Series:
 [1]    NA 23.75 21.25 33.75 38.75 40.00 60.00 61.25 62.50 82.50    NA    NA

A Time Series:
 [1]     NA     NA 22.500 27.500 36.250 39.375 50.000 60.625 61.875 72.500
[11]     NA     NA